{% extends 'base.html' %}
{% block content %}
    <h1>Sign Up</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="username">아이디:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">패스워드:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="email">이메일:</label><br>
        <input type="email" id="email" name="email"><br><br>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}
